ul {
    list-style-type: none;
}

li {
    margin: .5em;
}
.approval {
    color: blue;
    grid-area: approval;
}

.disapproval {
    color: red;
    grid-area: disapproval;
}

.tweetDate {
    grid-area: date;
}
.tweets {
    padding: 1em;
    margin: auto;
}

.tweet {
    border: solid black 1px;
    border-radius: .25em;
    grid: approval    embeded
          disapproval embeded
          date        embeded;
}

.embdedTweet {
    margin: auto;
    grid-area: embeded;
}