html {
    background-color: lightcoral;
}

.tweetMap {
    list-style-type: none;
    margin: auto;
    padding: .5em;
}

.tweetItem {
    background-color: lightblue;
    border-radius: .33em;
    margin: auto auto 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 900px;
    max-height: 600px;
    box-shadow: 0px 8px 32px -1px rgba(0,0,0,0.23);
}

.approval {
    color: blue;
    margin-top: 1em;
}

.disapproval {
    color: red;
    grid-row: 2/3;
}

.tweetDate {
    grid-row: 3/3;
}

.embededTweet {
    margin: 1em;
    grid-row: 1 / span 3;
    grid-column: 2 / 2;
}